<!DOCTYPE html>
<html>
<head>
    <title>JUICE SHOP</title>
</head>
<style>
    .p1{
        margin-left: 30%;
    }
    .p2{
        margin-left: 40%;
    }
    img{
        height: 130px;
        margin-left: 40%;
    }
    a{
        text-decoration: none;
        color: rgba(238, 59, 0, 0.83);
    }
</style>
<body>
    <nav><a href="{% url 'home_view' %}">HOME</a></nav>
    <img src="https://kva.org.uk/kvanew/assets/images/quality-and-monitoring-icon" alt="tickbox">
    <p class="p1">You have successfully applied to this Product</p>
    <p class="p2">Thank You </p>
</body>
</html>